header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #ffffff;
  background-color: #1651fa;
  padding: 5px;
}

h1,
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thirty-six {
  font-size: 36px;
}

.sixteen {
  font-size: 16px;
}

.add-employee {
  padding: 20px;
  margin: 20px;
}

.add-inputs {
  margin-bottom: 25px;
}

.add-employee input {
  margin-right: 15px;
  padding: 5px;
  border-color: #d3d3d3;
  border-radius: 5px;
}

.add-submit {
  display: flex;
}

#addEmpSubmitBtn {
  padding: 5px;
  background-color: #1651fa;
  border-radius: 5px;
  color: #ffffff;
  justify-content: flex-end;
}

.display-employees {
  padding-left: 20px;
  margin: 20px;
}

table {
  border: 1px solid #000000;
  border-collapse: collapse;
}

thead {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
}

thead tr {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
}

thead th {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
}

#deleteButton {
  background-color: #fc6862;
  color: #ffffff;
}

.width-one {
  width: 300px;
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
}

.width-two {
  width: 200px;
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
}

.width-three {
  width: 100px;
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
